@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">

    <thead>
        <tr>
            <th>
                Short URL
            </th>
            <th>
                Original link
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Urls)
        {
            <tr>
                <td>
                    <a href="@($"{Model.Location}/{item.Id}")" >@item.Id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>
